/*--------------------
	Code By - Md Ayatullah Rahmani
--------------------*/
@mixin fontface($name, $path, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url($path+$file+'.ttf');
    // src: url($path+$file+'.eot?#iefix') format('embedded-opentype'),
    //      url($path+$file+'.woff') format('woff'),
    //      url($path+$file+'.ttf') format('truetype'),
    //      url($path+$file+'.svg?#webfont') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
@mixin font($font-family, $font-file) {
  @font-face {
  font-family: $font-family;
  src:url($font-file+'.ttf');
  font-style: normal;
  font-weight: normal;
  }

}
@mixin shift($property: all, $duration: 1s, $ease: linear){
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}

@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
  }
@mixin transition($property,$delay) {
      transition: $property $delay;
     -webkit-transition: $property $delay;
    -moz-transition: $property $delay;
    -ms-transition: $property $delay;
    -o-transition: $property $delay;
  }

  @mixin box-shadow($top, $left, $blur, $color) {
    box-shadow:$top  $left $blur $color;
    -webkit-box-shadow:$top  $left $blur $color;
    -moz-box-shadow:$top  $left $blur $color;
    -o-box-shadow:$top  $left $blur $color;
    -ms-box-shadow:$top  $left $blur $color; 
  }
  @mixin box-shadow-none () {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    -o-box-shadow:none !important;
    -ms-box-shadow:none !important; 
  }
  @mixin box-shadows($top,$left,$blur,$opacity,$color){
    box-shadow:$top $left $blur $opacity $color;
    -webkit-box-shadow:$top $left $blur $opacity $color;
    -moz-box-shadow:$top $left $blur $opacity $color;
    -o-box-shadow:$top $left $blur $opacity $color;
    -ms-box-shadow:$top $left $blur $opacity $color;
  }

  @mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius:$radius;
  }
  @mixin transitionWidth($width,$height,$delay) {
    transition: $width $delay, $height $delay;
   -webkit-transition: $width $delay, $height $delay;
  -moz-transition: $width $delay, $height $delay;
  -ms-transition: $width $delay, $height $delay;
  -o-transition: $width $delay, $height $delay;
}
@mixin flexbox{
  	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin alignItemCenter {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
@mixin alignItemCenterV {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
}
@mixin alignItemCenterH {
  justify-content: center;
}
@mixin transformSingle ($value) {
  -webkit-transform:scale($value);
	-moz-transform:scale($value);
	-ms-transform: scale($value);
	transform:scale($value);
}
@mixin transform ($left,$right) {
  -webkit-transform:scale($left, $right);
	-moz-transform: scale($left, $right);
	-ms-transform: scale($left, $right);
	transform: scale($left, $right);
}
@mixin resetUl {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
@mixin clearFloat {
  content: '';
  display: block;
  clear: both;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}
@mixin transforms($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}
@mixin translateX ($x) {
  -webkit-transform: translateX($x);
   transform: translateX($x);
}
@mixin translateXY ($x,$y) {
  -webkit-transform:translate($x, $y);
   transform:translate($x, $y);
}
@mixin column-count($value) {
  -moz-column-count:$value;
  -webkit-column-count:$value;
  column-count:$value;
}
@mixin column-gap($value) {
  -moz-column-gap:$value;
  -webkit-column-gap:$value;
  column-gap:$value;
}

@mixin pageHeight(){
  min-height: calc(100vh - 254px);
}

@mixin blinkText {
  animation-duration: 1200ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation:blink 1200ms infinite;
}


 @keyframes blink {
    from {
        color:#3699F0;
    }
    to {
        color:white;
    }
}
@-webkit-keyframes blink {
    from {
        color:#3699F0;
    }
    to {
        color:white;
    }
}

  /*--------------------
	Code By - Md Ayatullah Rahmani
--------------------*/