
/************** color *************/
$light-theme-color:#ddd;
$darktheme-theme-color:#ddd;
$highlight-color:var(--secondary-color);
$hover-color:var(--secondary-color);
$title-Text-color:#056FC6;
$base-color1:#043D94;
$base-color2:#056FC6;
$base-color3:#3699F0;
$base-color4:#004589;
$base-color5:#F7F7F8;
$base-color6:#accee3;
$base-color7:#e5eff6;

/****  *****/
$primary-color:#043D94;
$secondary-color:#000000;
$light-text-color:#ffffff;
$dark-text-color:#000000;
$placholder-text-color:#999;
$headerBgColor:#232a34;
$btn-bg-color:#043D94;
$base-text-color:#404040;
$tab-highlight-color:$base-color1;
$error-color:#ff0b0b;
$success-color:#0eb634;
$highlight-color:#ffbc2e;
$form-text-color:#000000;
$title-text-color:#043D94;


/************** font *************/
$f1: 36px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$f5: 18px;
$f6: 16px;
$form-font-size:0.9rem;
$base-font-size:14px;
$base-font:Montserrat-Regular;
$font-semiBold:Montserrat-SemiBold;
$font-medium:Montserrat-Medium;
$font-bold:Montserrat-Bold;
$font-light:Montserrat-Light;

/** sprite img **/
$spiritImg : "";